{
  "connection_uri": "mongodb://localhost:27017",
  "database_name": "database-name",
  "collection_name": "collection-name",
  "pipelines": [
    {
      "name": "get everything",
      "description": "gets everything from the collection",
      "stages": []
    },
    {
      "name": "get everything",
      "description": "gets everything from the collection",
      "stages": [
        {
          "$project": {
            "_id": 1
          }
        }
      ]
    }
  ]
}
